* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0f41a5;
    --text-color: #333;
    --bg-color: #f4f4f4;
    --padding: 1rem;
}


body,
header,
footer {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    color:var(--text-color);
    background-color: var(--bg-color);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    /*Header and footer are auto-sized, content takes up remaining space*/
    gap: 1rem;
    /*spacing between the grid items*/
    padding: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary-color);
    color: white;
}

h1 {
    text-align: left;
    font-family: times, serif;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
}

h2 {
    font-size: 1.2rem;
    color: navy;
    text-align: left;
    margin: 1rem;
}

nav {
    max-width: 700px;
    margin: 1rem auto;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

.navigation{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #0f41a5;
    color: white;
    padding: 1rem;
    margin: 1rem;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}

button:focus,
a:focus {
    outline: 2px solid #fff;
    outline-offset: 4px;
}

/* main */ 

/* .temples  grid*/
.temples{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: .5rem;
        align-items: center;
        margin-bottom: 3rem;
        padding: 1rem;
    }
.temples img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 30px #777;
    margin: .5rem;
}


footer {
    grid-area: footer;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

footer p {
    margin: 1rem;
    padding: 1rem;
}